<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">
    
    <servlet>
        <servlet-name>Main</servlet-name>
        <servlet-class>com.sicappiello.keysyourself.core.Main</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>Main</servlet-name>
        <url-pattern>/main</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>AutoLoginFilter</filter-name>
        <filter-class>com.sicappiello.keysyourself.core.AutoLoginFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>AutoLoginFilter</filter-name>
        <url-pattern>/*</url-pattern> <!-- Apply to all URLs -->
    </filter-mapping>

    <!-- Credenziali per accesso al database -->
    <context-param>
        <param-name>dbHost</param-name>
        <param-value>localhost</param-value>
    </context-param>
    <context-param>
        <param-name>dbUser</param-name>
        <param-value>root</param-value>
    </context-param>
    <context-param>
        <param-name>dbPass</param-name>
        <param-value/>
    </context-param>
    <context-param>
        <param-name>dbName</param-name>
        <param-value>db_tsw</param-value>
    </context-param>
    <context-param>
        <param-name>dbPort</param-name>
        <param-value>3306</param-value>
    </context-param>

    <!-- Pagina di errore -->
    <error-page>
        <location>/WEB-INF/error/error.jsp</location>
    </error-page>

    <!-- Setup HTTPS SSL -->
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>securedapp</web-resource-name>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>

</web-app>